<!DOCTYPE html>
<html>
<head lang="en">
    <title>Matchine Learning</title>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Cinzel:700,400'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:700,400'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/img/icon.png"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="MatchineLearning" src="/static/img/icon.png">
                    <span class="nav-title">
                        Matchine Learning
                    </span>
                </a>
            </div>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    2015 | Ricardo Iván & Guilherme Carvalho
</footer>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/apiparser.js"></script>


</body>
</html>