<!DOCTYPE html>
<html>
<head lang="en">

    <title>Matchine Learning</title>

    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Cinzel:700,400'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:700,400'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/img/icon.png"/>
</head>
<body>


<div class="content">
    <div class="container">
        <div class="jumbotron">
        	<div class="container">
        		<h1>Welcome to Matchine Learning</h1>
        		<p>A tool to analyze champion performance on games. </p>
                <p> Enter some of your match Id to get information for all the champions on those games.
                    <br/> The more the merrier!
                </p>
                <p> Or just click the other button to check our data gathered from URF games. </p>
        		<div class="row">
                    <div class="col-md-4 col-sm-offset-2">
                        <a class="btn btn-primary btn-lg"> Check my games </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-primary btn-lg" href="urf"> Analize URF
                            Games </a>
                    </div>
        		</div>
        	</div>
        </div>
    </div>
</div>

<footer>
    2015 | Ricardo Iván & Guilherme Carvalho
</footer>

</body>
</html>